doctype html
html(lang='en')
    head
        title Jade
        link(rel='stylesheet', href='https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css', integrity='sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh', crossorigin='anonymous')
    body
        nav.navbar.navbar-expand-lg.navbar-light.bg-light
            button.navbar-toggler(type='button', data-toggle='collapse', data-target='#navbarSupportedContent', aria-controls='navbarSupportedContent', aria-expanded='false', aria-label='Toggle navigation')
                span.navbar-toggler-icon
            #navbarSupportedContent.collapse.navbar-collapse
                l.navbar-nav.mr-auto
                    li.nav-item.active
                        a.nav-link(href='/')
                            | Home 
                            span.sr-only (current)
                    li.nav-item
                        a.nav-link(href='/poke') Pokémon Fandom
                            span.sr-only (current)
                    li.nav-item
                        a.nav-link(href='#') Star Wars Fandom
                            span.sr-only (current)
                    li.nav-item
                        a.nav-link(href='#') Harry Potter Fandom
